<!--The content below is only a placeholder and can be replaced.-->


<!--rendering the master page component with this selector --> 
<div id="parent-to-child">
    Parent to child using Input.
    <div>
                <master></master>            
    </div>
    
</div>
<hr/>
<div id="child-to-parent">
    Using Event emitter and output...
    <div>
           <app-masterwithoutputandeventemiter></app-masterwithoutputandeventemiter>     
    </div>

    
</div>



<hr/>

<div id="viewChild">
Using ViewChild passing
<app-masterwith-view-child></app-masterwith-view-child>

</div>

<br>
<div>
<strong>Data passing Using Service</strong>
<br>
First component:: <app-first-component></app-first-component>
<br>
Second Component:: <app-secondcomponent></app-secondcomponent>



</div>
